.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    height: 5rem;
    background-color: #04044d;
}

.container__input {
    display: flex;
    align-items: center;
    background-color: #1c1c5e;
    height: 3.3rem;
    width: 80%;
    border-radius: 16px;
}

.search__input {
    all: unset;
    color: #fff;
    font-size: 17px;
    margin-left: 1rem;
    background-color: inherit;
    width: 70%;
}

::placeholder {
    color: #a8a8a8;
}

.search__icon {
    height: 1.4rem;
    padding-left: 1.5rem;
}